@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap');

body {
    font-family: "Spline Sans", sans-serif;
    color: grey;
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 100;
    color: black;
}

a {
    color: black;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 100;
}

a:hover {
    color: orange;
}

img {
    min-width: 100%;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.shadow-on-hover {
    transition: all 0.3s;
}

.shadow-on-hover:hover {
    box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}

.btn {
    border-radius: 0;
    padding: 14px 38px
}

.btn-brand {
    color: white;
    font-weight: 500;
    border-color: orange;
    background-color: orange;
}

.btn-brand:hover {
    border-color: orange;
    background-color: orange;
    color: white;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0,0,0,0.7);
    width: 40px;
    height: 70px;
    margin: auto;
}

#about .divider {
    width: 60px;
    height: 2px;
    display: block;
    background-color: orange;
}

.intro-text {
    margin-bottom: 40px;
    text-align: center;
}

.intro-text p {
    max-width: 500px;
    margin: 16px auto 0 auto;
}

#menu .nav-pills .nav-link {
    background-color: white;
    margin: 8px;
    margin-right: 8px;
    color: black;
    border-radius: 100px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}

#menu .nav-pills .nav-link.active {
    background-color: orange;
    color: white;
}

.menu-item-content h5 {
    color: black;
}

.menu-item .stars {
    color: orange;
}

footer {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/flaming-grill-about-section-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 30px;
}

.footer-top {
    margin-bottom: 30px;
}

footer p {
    color: rgba(255, 255, 255, 0.75);
}

footer a {
    color: rgba(255, 255, 255, 0.75);
}

footer .social links a {
    font-weight: normal;
    font-size: 24px;
    margin-right: 10px;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1 px solid rgba(255, 255, 255, 0.4);
}